@CHARSET "UTF-8";
#data-table {
	 
}
.bar span {
	background: #fefefe url(..animatedGraphImages/info-bg.gif) 0 100% repeat-x;
}
.fig0 {
	background: #747474 url(..animatedGraphImages/bar-01-bg.gif) 0 0 repeat-y;
}
.fig1 {
	background: #65c2e8 url(..animatedGraphImages/bar-02-bg.gif) 0 0 repeat-y;
}
.fig2 {
	background: #eea151 url(..animatedGraphImages/bar-03-bg.gif) 0 0 repeat-y;
}