@CHARSET "UTF-8";


.header {
	background: #35d7da;
	padding: 2px;
}
.header h1{
	 color:#fe0810;
	 width:600px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

th {
    background-color: #4CAF50;
    color: white;
}
#userPicture{
	height:200px;
	width: 300px;
	text-align:left;	
}
#userPicture img{
	width:  250px;
	height:  250px;
	border-style: solid;
}

@CHARSET "UTF-8";

.friendstables ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y:scroll;
    background-color: #c4c3c5;
    height:100px;
    text-align:center;
}

li {
    float:right;
}


li a {
    display: block;
    color: black;
    font-size:25px;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
}

li a:hover { 
	color:white;
	text-decoration:none;
}


.name{
	float: left;
}
.name a{
	font-size:45px;
}
#innerHeader{
	position: absolute;
 	top: 50%; left: 50%;
  	transform: translate(-50%,-50%);
  	width: 650px;
 	height: 100px;
  	border-radius: 25px;
  	background: #e4a21a;
}

#header {
	height: 650px;
	width: 100%;
    
}
body{
	background-image: url("colourTriangles.png");
   	background-repeat: repeat-y;
    background-position: center;
    background-attachment: fixed;  
    background-size: 100%;	
}
h1{
	font-size:30px;
}

.sign_up{
	color:#286090;
}

h2{
	font-size:20px;
}

h3{
	font-size:15px;
}


.leftSide{
	padding-right:20px;
	padding-left:20px;
	float:left;
}

.rightSide{
	float:left;
	padding-right:30px;
}

.btn{
	padding-top:10px;
}

#extra-large-inner-header{
	position: absolute;
 	top: 60%; 
 	left: 50%;
  	transform: translate(-50%,-50%);
  	width: 90%;
 	height: 80%;
  	border-radius: 25px;
  	background: white;
  	overflow-y:scroll;
}

.divclass{
	padding-top:100px;
}
