@CHARSET "UTF-8";


.header {
	background: #35d7da;
	textAlign:center;
	padding: 2px;
}
.header h1{
	 color:#fe0810;
	 textAlign:right;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;
}

th {
    background-color: #4CAF50;
    color: white;
}
